body {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2 {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0px;
}

h2 {

    color: #E9C2ED;
}

html {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 15px;
    text-align: center;
    font-size: 32px;
    min-width: 90px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

header ul {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header ul li p{
    margin: 0px;
}

header ul li a:hover {
    color: #FF6686;
}

nav {
    float: left;
    width: 15%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

nav ul li a:hover {
    color: #FF6686;
}


a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    float: left;
    width: 70%;
    min-height: 100%;
    text-align: center;
    align-items: center;
}

main img {
    margin: 10px;
    max-width: 640px;
}

.reserva {
    display:flex;
    flex-direction: row;
}

.reserva img{
    max-width: 200px;
}

.reserva select{
    height: 56px;
    width: 280px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.nulo{
    min-width: 640px;
    min-height: 200px;
}

.card{
    display: flex;
    flex-direction: row;
    border: #FF5E85 solid 1px;
    min-width: 640px;
    max-height: 200px;
}

.card ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}